/*
-- Basic Reset
*/

* {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
img, fieldset {border: 0;}
img {max-width: 100%; vertical-align: middle;}
button {cursor: pointer;}
ul {list-style: none;}

/*
-- Typography
*/

body, input, select, textarea, button {
	font-family: "PT Sans", sans-serif;
	font-size: 1em;
}

p {
	line-height: 1.75em;
	margin-bottom: 1.75em;
}

a:focus {
	outline: 1px dotted red;
}



/*
-- Structure
*/

.site-header, .navigation-bar, .site-content, .site-footer {
	width: 58.75em; /* 940 / 16 */
	margin: auto;
}

/* header */

.header-outer {
	background-color: #21b7c6;
}

.logo {
	background-color: #eb6841;
	color: #FFF;
	text-transform: uppercase;
	font-size: 2.625em;
	padding: 0.3em 1.25em;
	letter-spacing: 0.05em;
	float: left;
}

.tagline {
	font-style: italic;
	color: #FFF;
	font-size: 0.875em; /* 14 / 16 */
	float: right;
	margin-top: 2em;
}

/* navigation bar */

.navigation-outer {
	background: #00a0b0;
}

	/* main navigation */

	.site-navigation {
		float: left;
	}

	.site-navigation li {
		display: inline-block;
	}

	.site-navigation a {
		display: block;
		text-decoration: none;
		color: #FFF;
		padding: 0.2em 0.8em;
		margin: 0.8em 0;
	}

	.site-navigation a:hover {
		opacity: 0.7;
	}

	.site-navigation a.active {
		background: #FFF;
		color: #00a0b0;
	}

	/* search */

	.site-search {
		float: right;
	}

	.search-field {
		background: #FFF;
		padding: 0.2em;
		margin: 0.8em 0;
		border-radius: 1em;
	}

	.search-field input {
		background: transparent;
		border: 0;
		width: 9em;
		font-size: 0.875em;
		padding: 0.2em 0.4em
	}

	.search-field button {
		background: transparent url(../images/icon_search_small.png) no-repeat center center;
		border: 0;
		width: 2em;
		height: 1.5em;
	}

/* footer */

.footer-outer {
	background: #eb6841;
}

.site-footer {
	padding: 2em 0;
}

.site-footer, .site-footer a {
	color: #FFF;
}

	/* footer-about */

	.footer-about {
		float: left;
		width: 42.5531914893617%; /* 400 / 940 */
	}

	.footer-about h2 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.125em;
	}

	.footer-about p {
		line-height: 2em;
		font-size: 0.875em;
	}

	/* footer-social */

	.footer-social {
		float: right;
	}

	.footer-social li {
		display: inline-block;
	}

	.footer-social a {
		background: no-repeat center center;
		display: block;
		width: 1em;
		height: 1.4em;
		padding: 0.5em 0.7em;
		margin-left: 0.5em;
		border-radius: 2em;
	}

	.footer-social .twitter {
		background-image: url(../images/icon_twitter_small.png);
		background-color: #47c2e5;
	}

	.footer-social .facebook {
		background-image: url(../images/icon_facebook_small.png);
		background-color: #477fe5;
	}

	.footer-social .gplus {
		background-image: url(../images/icon_gplus_small.png);
		background-color: #d43636;
	}

	.footer-social a:hover {
		box-shadow: 0 0 8px rgba(255,255,255,0.6);
	}

	/* footer-navigation */

	.footer-navigation {
		float: left;
		opacity: 0.5;
		font-size: 0.75em;
		text-transform: uppercase;
	}

	.footer-navigation li {
		display: inline-block;
	}

	.footer-navigation a {
		text-decoration: none;
	}

	.footer-navigation a:hover {
		text-decoration: underline;
	}

	.footer-navigation li:after {
		content: " / "
	}

	.footer-navigation li:last-child:after {
		content: " ";
	}

	/* footer-copyright */

	.footer-copyright {
		float: right;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1em
	}

/*
-- General Use
*/

.group:before, .group:after {
	content:  " ";
	display: table;
}

.group:after {
	clear: both;
}

.hide-vis {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hide-text {
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}