/*
-- Basic Reset
*/

* {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
img, fieldset {border: 0;}
img {max-width: 100%; vertical-align: middle;}
button {cursor: pointer;}
ul {list-style: none;}

/*
-- Typography
*/

body, input, select, textarea, button {
	font-family: "PT Sans", sans-serif;
	font-size: 1em;
}

p {
	line-height: 1.75em;
	margin-bottom: 1.75em;
}

a:focus {
	outline: 1px dotted red;
}



/*
-- Structure
*/

.site-header, .navigation-bar, .site-content, .site-footer {
	width: 58.75em; /* 940 / 16 */
	margin: auto;
}

/* header */

.header-outer {
	background-color: #21b7c6;
}

.logo {
	background-color: #eb6841;
	color: #FFF;
	text-transform: uppercase;
	font-size: 2.625em;
	padding: 0.3em 1.25em;
	letter-spacing: 0.05em;
	float: left;
}

.tagline {
	font-style: italic;
	color: #FFF;
	font-size: 0.875em; /* 14 / 16 */
	float: right;
	margin-top: 2em;
}

/* navigation bar */

.navigation-outer {
	background: #00a0b0;
}

	/* main navigation */

	.site-navigation {
		float: left;
	}

	.site-navigation li {
		display: inline-block;
	}

	.site-navigation a {
		display: block;
		text-decoration: none;
		color: #FFF;
		padding: 0.2em 0.8em;
		margin: 0.8em 0;
	}

	.site-navigation a:hover {
		opacity: 0.7;
	}

	.site-navigation a.active {
		background: #FFF;
		color: #00a0b0;
	}

	/* search */

	.site-search {
		float: right;
	}

	.search-field {
		background: #FFF;
		padding: 0.2em;
		margin: 0.8em 0;
		border-radius: 1em;
	}

	.search-field input {
		background: transparent;
		border: 0;
		width: 9em;
		font-size: 0.875em;
		padding: 0.2em 0.4em
	}

	.search-field button {
		background: transparent url(../images/icon_search_small.png) no-repeat center center;
		border: 0;
		width: 2em;
		height: 1.5em;
	}

/*
-- General Use
*/

.group:before, .group:after {
	content:  " ";
	display: table;
}

.group:after {
	clear: both;
}

.hide-vis {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hide-text {
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}