/*
-- Basic Reset
*/

* {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
img, fieldset {border: 0;}
img {max-width: 100%; vertical-align: middle;}
button {cursor: pointer;}

/*
-- Typography
*/

body, input, select, textarea, button {
	font-family: "PT Sans", sans-serif;
	font-size: 1em;
}

p {
	line-height: 1.75em;
	margin-bottom: 1.75em;
}

a:focus {
	outline: 1px dotted red;
}



/*
-- Structure
*/

.site-header, .navigation-bar, .site-content, .site-footer {
	width: 58.75em; /* 940 / 16 */
	margin: auto;
}

/* header */

.header-outer {
	background-color: #21b7c6;
}

.logo {
	background-color: #eb6841;
	color: #FFF;
	text-transform: uppercase;
	font-size: 2.625em;
	padding: 0.3em 1.25em;
	letter-spacing: 0.05em;
	float: left;
}

.tagline {
	font-style: italic;
	color: #FFF;
	font-size: 0.875em; /* 14 / 16 */
	float: right;
	margin-top: 2em;
}

/*
-- General Use
*/

.group:before, .group:after {
	content:  " ";
	display: table;
}

.group:after {
	clear: both;
}